/** A css file */

body{
  background-color: white;
  margin: 0;
}

.main-wrap {
  min-height: 60vh;
}

.main {
  max-width: 900px;
  margin: 0 auto;
}

.htmlform {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
}

.htmlform fieldset {
  border: none;
}

.htmlform label {
    display: none;
}

.input {
  height: 2em;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.loginButton {
    width: 100%;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.loginButton:hover {
    background: #e6e6e6;
}

.
